<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
</div>
<h1>
  Courses
</h1>
<div>
  <p *ngIf="!courses"><em>Loading...</em></p>

  <table class='table' *ngIf="courses">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.code }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.description }}</td>
        <td>
          <button class="btn  btn-primary" (click)="edit(course.id, template)"><i class="fa fa-edit"></i> Edit</button>
          <button class="btn btn-danger" (click)="onDelete(course.id)"><i class="fa fa-trash"></i> Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" (click)="onNew(template)"><i class="fa fa-plus"></i> New Course</button>
</div>

<ng-template #template>
  <form name="courseform" #courseform="ngForm">
    <div class="modal-header">
      <h5 class="modal-title">{{title}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form">
        <div class="form-group">
          <label>Course name</label>
          <input class="form-control" type="text" [(ngModel)]="model.name" name="courseName" #name="ngModel" required
            maxlength="30" [ngClass]="{ 'is-invalid': name.invalid && name.touched }" />
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
            <div *ngIf="name.errors.required">Name is required!</div>

          </div>
        </div>
        <div class="form-group">
          <label>Course code</label>
          <input class="form-control" type="text" [(ngModel)]="model.code" name="code" #code="ngModel" minlength="4"
            maxlength="4" [ngClass]="{ 'is-invalid': code.invalid }" />
          <div *ngIf="code.invalid && (code.dirty || code.touched)" class="invalid-feedback">
            <div *ngIf="code.errors.minlength || code.errors.maxlength">Code must have 4 characters!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" [(ngModel)]="model.description" name="description" maxlength="200"></textarea>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="onSave()" [disabled]="!courseform.form.valid">{{submitType}} Course</button>
      <button type="button" class="btn btn-warning" aria-label="Close" (click)="modalRef.hide()">Close</button>
    </div>
  </form>
</ng-template>