i {
        
}
/* 
i:hover{
    opacity: 0% !important;
} */

.mark-box {
    display: -webkit-inline-box !important;

}

.fa {
    opacity: 0.5;        
    margin: 10px 4px; 
}

.fa:hover{
    font-size: 24px;
    opacity: 1;  
    margin: 4px 2px;
}

.fa-edit{
    color: #007bff;
}

.fa-trash{
    color: #dc3545;
}

.fa-plus {
    color: #28a745;
}

