<div class="row border rounded ">
  <div class="col">
    <h4>{{student.firstName}} {{student.lastName}}</h4>
  </div>
  <div class="col mark-box" *ngFor="let course of courses">
    <div class="mark-box" *ngIf="hasMark(course);else no_mark">

      <input class="form-control col-3" type="text" [value]="getMark(course).markValue" disabled/>
      <i class="fa fa-edit" (click)="editMark(getMark(course).id)"></i>
      <i class="fa fa-trash" (click)="removeMark(getMark(course).id)"></i>
    </div>
    <ng-template #no_mark>
      <i class="fa fa-plus" (click)="newMark(course.id)"></i>
    </ng-template>
  </div>
</div>