

<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">StARKS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" [routerLink]='["/"]'>Home</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/students"]'>Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/courses"]'>Courses</a>
      </li>  
      <li class="nav-item">
          <a class="nav-link" [routerLink]='["/marks"]'>Marks</a>
        </li>      
    </ul>   
  </div>
</nav>

<main role="main" class="container">
  <div class="starter-template">
   
    <router-outlet></router-outlet>
  </div>

</main>
<!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script> -->

