<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
</div>
<h1>
  Marks
</h1>
<div>
  <p *ngIf="!courses"><em>Loading...</em></p>
  <div class="container">
    <div class="row">
      <div class="col">        
      </div>
      <div class="col" *ngFor="let course of courses">
        <h4 class="">{{course.name}}</h4>
      </div>
    </div>
    <starks [courses]="courses" [student]="student" (edit)="editMark($event)" (new)="newMark($event)" (remove)="removeMark($event)" *ngFor="let student of students"></starks>
  </div>
</div>

<ng-template #template>
    <form name="courseform" #markform="ngForm">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close"aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div >
          <div class="form">            
                <div class="form-group">
                  <label>Mark value</label>
                  <input class="form-control" type="text" [(ngModel)]="model.markValue" name="markValue" #markValue="ngModel" required maxlength="1" pattern="[a-e]*" [ngClass]="{ 'is-invalid': markValue.invalid && markValue.touched }"/>          
                  <div *ngIf="markValue.invalid && (markValue.dirty || markValue.touched)" class="invalid-feedback">
                      <div *ngIf="markValue.errors.required">Mark value is required!</div> 
                      <div *ngIf="markValue.errors.pattern">Mark must be a, b, c, d or e!</div>        
                  </div>
                </div>
                
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="onSave()" [disabled]="!markform.form.valid">{{submitType}} Mark</button>
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="modalRef.hide()">Close</button>
      </div>
    </form>
</ng-template>