<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
</div>
<h1>
  Students
</h1>
<div>
  <p *ngIf="!students"><em>Loading...</em></p>

  <table class='table' *ngIf="students">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Date of birth</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.address }}</td>
        <td>{{ student.city }}</td>
        <td>{{ student.state }}</td>
        <td>{{ student.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
        <td>{{ student.genderID | gender: genders }}</td>
        <td>
          <button class="btn  btn-primary" (click)="edit(student.id, template)"><i class="fa fa-edit"></i>Edit</button>
          <button class="btn btn-danger" (click)="onDelete(student.id)"><i class="fa fa-trash"></i>Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" (click)="onNew(template)"><i class="fa fa-plus"></i>New Student</button>
</div>

<ng-template #template>
  <form name="studentform" #studentform="ngForm">
    <div class="modal-header">
      <h5 class="modal-title">{{title}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form">
        <div class="row">
          <div class="form-group col">
            <label>Firstname</label>
            <input class="form-control" type="text" [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel"
              required maxlength="30" [ngClass]="{ 'is-invalid': firstName.invalid && firstName.touched }" />
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
              <div *ngIf="firstName.errors.required">First name is required!</div>
            </div>
          </div>
          <div class="form-group col">
            <label>Lastname</label>
            <input class="form-control" type="text" [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel"
              required maxlength="30" [ngClass]="{ 'is-invalid': lastName.invalid && firstName.touched }" />
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="invalid-feedback">
              <div *ngIf="lastName.errors.required">Last name is required!</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Address</label>
          <input class="form-control" type="text" [(ngModel)]="model.address" name="address" #address="ngModel"
            required maxlength="30" [ngClass]="{ 'is-invalid': address.invalid && address.touched }" />
          <div *ngIf="address.invalid && (address.dirty || address.touched)" class="invalid-feedback">
            <div *ngIf="address.errors.required">Address is required!</div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label>City</label>
            <input class="form-control" type="text" [(ngModel)]="model.city" name="city" #city="ngModel" required
              maxlength="30" [ngClass]="{ 'is-invalid': city.invalid && city.touched }" />
            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="invalid-feedback">
              <div *ngIf="city.errors.required">City is required!</div>
            </div>
          </div>
          <div class="form-group col">
            <label>State</label>
            <input class="form-control" type="text" [(ngModel)]="model.state" name="state" #state="ngModel" required
              maxlength="30" [ngClass]="{ 'is-invalid': state.invalid && state.touched }" />
            <div *ngIf="state.invalid && (state.dirty || state.touched)" class="invalid-feedback">
              <div *ngIf="state.errors.required">State is required!</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label>Date of birth</label>
            <input type="text" class="form-control" [maxDate]="maxDate" #dateOfBirth="bsDatepicker" bsDatepicker [(ngModel)]="model.dateOfBirth" autocomplete="new-password" 
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }" #dateOfBirth="ngModel" name="dateOfBirth" [ngClass]="{ 'is-invalid': dateOfBirth.invalid && dateOfBirth.touched }" required/>
            <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)" class="invalid-feedback">
              <div *ngIf="dateOfBirth.errors.required">Date is required!</div>
            </div>
          </div>
          <div class="form-group col">
            <label>Gender</label>
            <select class="form-control" [(ngModel)]="model.genderID" name="gender" #gender="ngModel" required>
              <option [ngValue]="undefined" disabled> --Select gender-- </option>
              <option [ngValue]="gender.id" *ngFor="let gender of genders">{{gender.name}}</option>
            </select>
            <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="invalid-feedback">
              <div *ngIf="gender.errors.required">You must choose gender!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" (click)="onSave()" [disabled]="!studentform.form.valid">{{submitType}} Student</button>
      <button type="button" class="btn btn-warning" aria-label="Close" (click)="modalRef.hide()">Close</button>
    </div>
  </form>
</ng-template>