/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

button {
    margin: 5px
}

table td button {
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
}